.bg-form{
     background: linear-gradient(60deg, rgb(247, 228, 236) 0%, rgb(237, 200, 135) 100%);
     margin-top: 20px;
     border-radius: 30px;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
